/* =================================
  Base Element Styles
==================================== */

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	color: white;
	display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper-Portfolio,
.wrapper-Skills {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

h2{
	font-weight: 700;
	font-size: 1em;
	text-transform: uppercase;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.profile-image {
			object-fit: contain;
	    margin: 2em 1em;
}


/* =================================
  Main Styles
==================================== */

/*-------Header-------*/

.main-header,
  .menu,
	.main-nav,
	.Porfile-Text{
    display: flex;
		flex-direction: column;
  }

.main-haider {
		background: linear-gradient(30deg, #222, #666);
}

.menu {
		width: 100%;
		text-align: center;

}

.name a{
	color: #eee;
}

.name {
	margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

nav a {
	color: #4a4a4a;
}

.main-nav li{
	margin: .5em 1em;
	padding: 1em;
	background-color: white;
	font-weight: 700;
	text-transform: uppercase;
}


.Porfile-Text p{
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 300;
		margin: 2em 1em;
	padding-bottom: 2em;
}

/*-------Content-------*/

.wrapper-Portfolio,
.wrapper-Skills {
	width: 90%;
	margin: 1em 5%;
}

.menupoint {
	width: 100%;
	margin: 2em 1em;
	padding: 1em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	align-self: center;
}

.menupoint a {
	color: #4a4a4a;
}

.content-image{
	width: 100%;
	margin: 1em 0;
}

.work-examples{
	color: #4a4a4a;
	text-align: center;
}

.work-examples p{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	width: 90%;
	margin: 1em 5%;
}

/*-------Footer-------*/

footer{
		background-color: #fafafa;
		display: flex;
}

.wrapper-footer {
	display: flex;
	flex-direction: column;
	width: 95%;
	margin: 2em 2.5% 0 2.5%;
}

footer .text-footer{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #003173;
	text-align: center;
	border-bottom: 1px;
}

.back-to-top {
color: #4a4a4a;
margin: 2.5%;
text-align: right;
width: auto;
}

.bottom{
	width: 95%;
	margin: 2em 2.5% 0 2.5%;
	border-top: 1px;
	border-color: #e7e7e7;
	border-top-style:solid;
	display: flex;
	justify-content: space-between;
}

.bottom p{
	margin: 1em;
	color: #4a4a4a;
	align-self: center;
}

.bottom-nav{
	display: none;
	margin: 1em;
	text-align: right;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 768px){

	.main-nav{
		flex-direction: row;
	}

	.main-nav li{
		background-color: transparent;
		width: 25%;
		margin: 0;
	}

	nav a{
		color: white;
	}

	.name {
		padding: 2em 0 .7em 0;
	}

.Porfile-Text {
	width: 95%;
	margin: 2em 2.5%;
	flex-direction: row;
}

.Porfile-Text p {
	text-align: left;
	font-size: 1.2em;
	order: -1;
	margin: 2em 0;
}

.profile-image {
	    margin: 2em 0 2em 1em;

}

.wrapper-Portfolio {
	width: 95%;
	margin: 2em 2.5%;
}

.work-examples{
	width: 48%;
	margin: 0 0.75%;
}

.work-examples p{
	margin: 2em 5%;
}

.wrapper-Skills {
	width: 95%;
	margin: 2em 2.5%;
}

.wrapper-footer {
	padding-bottom: 7em;
}

.text-footer {
	width: 70%;
	margin: 0 15%;
}

.text-footer p {
	font-size: 1.2em;
}

.back-to-top{
	display: none;
}

.bottom-nav {
	display: flex;
	flex-direction: row-reverse;
	width: 45%;
	margin: 2.5%;
}

.bottom-nav li{
	margin-left: 5%;
	text-align: right;
}

.bottom-nav a{
	color: #4a4a4a;
}

}


@media (min-width: 1024px){

body {
	background: linear-gradient(30deg, #222, #666);
}


/*-----------Haider--------------*/

.main-haider {
	width: 92%;
	margin: auto;
	background: none;
}

.menu {
	margin: 3em 0;
	flex-direction: row;
}

.name{
	width: 40%;
	padding: 0;
	text-align: left;
}


.main-nav{
	width: 60%;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
}

.main-nav li{
	text-align: right;
	padding: 0;
	width: auto;
	margin-left: 5%;
}

.Porfile-Text {
	width: 100%;
	margin: 0;
}


/*-----------Content--------------*/

.wrapper-Portfolio,
.wrapper-Skills {
	background: white;
	padding-bottom: 5em;
}

.menupoint a{
	padding-top: 4em;
}

.wrapper-Portfolio .work-examples{
	width: 30%;
	margin: 0 1.522%;
}

.work-examples p{
	margin: 2em 5% 3em 5%;
}

.wrapper-footer{
	padding-bottom: 1em;
}

.content-image {
	width: 100%;
	margin: 0;
}

footer {
	width: 95%;
	margin: 2em 2.5%;
}


}
