.wrapper-footer {
	display: flex;
	flex-direction: column;
	width: 95%;
	margin: 2em 2.5% 0 2.5%;
	@media #{$br-tablet}{
			padding-bottom: 7em;
	}
	@media #{$br-screen}{
			padding-bottom: 1em;
	}
}

.text-footer{
	@include text(1em, $color: $blue);
	@extend %centered;
	font-family: 'Roboto', $stack-sans-serif;
	border-bottom: 1px;
	@media #{$br-tablet}{
		width: 70%;
		margin: 0 15%;
	}
	& p {
		@media #{$br-tablet}{
			font-size: 1.2em;
		}
	}
}


.bottom{
	width: 95%;
	margin: 2em 2.5% 0 2.5%;
	border-top: 1px;
	border-color: $lightgray;
	border-top-style:solid;
	display: flex;
	justify-content: space-between;
	& p{
		margin: 1em;
		color: $gray;
		align-self: center;
	}
}



.bottom-nav{
	@extend %right;
	display: none;
	margin: 1em;
	@media #{$br-tablet}{
		display: flex;
		flex-direction: row-reverse;
		width: 45%;
		margin: 2.5%;
	}
	& li{
		@media #{$br-tablet}{
		margin-left: 5%;
		text-align: right;
		}
	}
	& a{
		@media #{$br-tablet}{
		color: #4a4a4a;
		}
	}
}

.back-to-top {
	@include text($color: $gray);
	@extend %right;
	margin: 2.5%;
	width: auto;
	@media #{$br-tablet}{
		display: none;
	}
}
