/*-----Header------*/
.name a{
	color: #eee;
}

.name {
	margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

nav a {
	color: $gray;
}

.main-nav li{
	margin: .5em 1em;
	padding: 1em;
	background-color: $white;
	font-weight: 700;
	text-transform: uppercase;
}


.Porfile-Text p{
	@extend %centered;
	color: $white;
	font-family: 'Roboto', $stack-sans-serif;
	font-size: 1em;
	font-weight: 300;
		margin: 2em 1em;
	padding-bottom: 2em;
}

/*-----Content------*/



.menupoint {
	@extend %centered;
	width: 100%;
	margin: 2em 1em;
	padding: 1em;
	font-weight: 700;
	text-transform: uppercase;
	align-self: center;
}

.menupoint a {
	color: $gray;
}

.work-examples p{
	font-family: 'Roboto', $stack-sans-serif;
	font-size: 1em;
	width: 90%;
	margin: 1em 5%;
}

/*-----Footer------*/


footer .text-footer{
	@extend %centered;
	font-family: 'Roboto', $stack-sans-serif;
	font-size: 1em;
	color: $blue;
	border-bottom: 1px;
}

.back-to-top {
@extend %right;
color: $gray;
margin: 2.5%;
width: auto;
}


.bottom p{
	margin: 1em;
	color: $gray;
	align-self: center;
}
