

body {
	@include text($color: $white);
	font-family: 'Montserrat', $stack-sans-serif;
	line-height: 1.6;
	display: flex;
  flex-direction: column;
  min-height: 100vh;
	@media #{$br-screen} {
		background: linear-gradient(30deg, #222, #666);
	}

}

nav a {
	color: $gray;
	@media #{$br-tablet}{
		color: $white;
	}
}

ul {
	list-style: none;
}

a {
	color: $white;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

footer{
		background-color: #fafafa;
		display: flex;
			@media #{$br-screen}{
				width: 95%;
				margin: 2em 2.5%;
			}
}

.main-header,
  .menu,
	.main-nav,
	.Porfile-Text{
    display: flex;
		flex-direction: column;
  }
